/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color:#0b121e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  input{
    z-index: 2;
  }
  .weather-app {
    position: relative;
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
  }
  
  .app-title {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: #ffffff;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    z-index: 2;
  }
  
  .city-input {
    width: 95%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    height: 50px;
    border-radius: 5px;
    margin-right: 0.5rem;
    background-color: #202b3c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .search-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color:  #202b3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover {
    background-color: #43658b;
  }
  .mMain{
    display: flex;
    justify-content: center;
  }
  .mhead{
    width: 700px;
    display: flex;
    padding: 3%;
    border-radius: 15px;
    justify-content: space-between;
  }
  .error-message {
    color: #ff6b6b;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .weather-info {
    margin-top: 2rem;
    position: relative;
  }
  
  .head {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .head h2 {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 400;
  }
  
  .head h3 {
    margin-top: 5%;
    font-size: 3.5rem;
    font-weight: 200;
    text-align: left;
    color: #ffffff;
  }
  
  .icon img {
    width: 200px;
    animation: rot 2s infinite;
  }
  
  .forecast {
    transition: 2s;
    margin-top: 1.5rem;
    background-color: #202b3c;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  
  .forecast h3 {
    margin-bottom: 1rem;
    color: #c4cbcf;
    text-align: left;
  }
  
  .forecast-details div {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;    
    background-color: #48628a;
    width: 160px;
    border-radius: 12px;
    height: 100px;
    font-size: 1.1rem;
  }
  .forecast-details h2{
    padding: 0.5%;
    text-wrap: nowrap;
  }
  .forecast-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 30px;
  }
  
  @media (max-width: 768px) {
    .weather-app {
      width: 95%;
    }
    .forecast-details div{
      flex-wrap: wrap;
    }
  }
  

@keyframes rot{
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.bg{
  height: 100vh;
  z-index: 1;
  }
button{
  z-index: 2;
}
.bgimg{
  width: 134%;
  mix-blend-mode: lighten;
  margin-top: -70%;
  margin-left: -70%;
  filter: opacity(0.2);
  position: absolute;
  z-index: 1;
}
